<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pluvius | About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/cloud.png">
        <img src="img/sun.png">
        <img src="img/snow.png">
        <img src="img/wind.png">
        <img src="img/flash.png">
        <p>
            Pluvius is a simple web-app that uses Node.js, Express, the DarkSky API, and the MapBox Geocoding API to
            serve weather data.
        </p>
    </div>
    {{>footer}}
</body>

</html>