<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pluvius | Links</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>
            Some links to the libraries & APIs which make this application possible:
        </p>
        <ul>
            <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
            <li><a href="https://expressjs.com/" target="_blank">Express.js</a></li>
            <li><a href="https://www.mapbox.com/" target="_blank">DarkSky</a></li>
            <li><a href="https://darksky.net/dev" target="_blank">MapBox</a></li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>